/* ====== Section wrapper ====== */
.sectuion {
    padding: 140px 0;
}

@media(max-width:1023px) {
    .sectuion {
        padding: 70px 0;

    }
}

.header {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.headerRight {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.headerRightInner {
    display: flex;
    gap: 10px;
}

.headerBtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 32px;
    border-radius: 10px;
    color: #ededed;
    border-radius: 60px;
    border: 1px solid rgba(204, 204, 204, 0.40);
    cursor: pointer;
    transition: background .2s ease, color .2s ease, border-color .2s ease;
    background: transparent;
    font-size: clamp(16px, 2vw, 20px);
    white-space: nowrap;
}

/* .headerBtn:hover { } */

.headerBtnPrimary {
    color: #ededed;
    border-radius: 60px;
    border: 1px solid rgba(204, 204, 204, 0.40);
    cursor: pointer;
    transition: background .2s ease, color .2s ease, border-color .2s ease;
}

.headerBtnIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 32px;
}

.h2 {
    color: #ededed;
    max-width: 1140px;
    font-weight: 400;
}

.accColor {
    color: var(--color-primary);
}

.subtitle {
    font-size: clamp(16px, 3vw, 20px);
    margin: 20px 0 60px;
    max-width: 1240px;
    font-weight: 400;
}

.op08 {
    color: rgba(237, 237, 237, 0.60);
}


/* ====== Content panel ====== */
.body {
    border-radius: 28px;
    display: grid;
    grid-template-columns: 1.05fr 1fr;
    gap: clamp(14px, 2vw, 24px);
    align-items: stretch;
}

.item {
    min-width: 0;
    display: grid;
}

/* ====== Left grid (specs) ====== */
.item_1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(10px, 1.3vw, 30px);
    align-content: start;
}

.item_1_showAll {
    align-content: stretch;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.gridItem {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background: linear-gradient(180deg, #191919 0%, #0F0F0F 102.14%);
    border-radius: 30px;
    padding: clamp(14px, 1.6vw, 18px);
    color: #ededed;
    min-height: 228px;

}

.gridItem_1 {
    grid-column: 1 / -1;
    padding: 0;
    overflow: hidden;
}

.img_1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 20px;
    will-change: transform;
    transition: transform .2s linear;
}

/* Overlay text on the first card */
.gridItem_1 .gridTitle {
    position: absolute;
    left: 20px;
    top: 16px;
    margin: 0;
}

.gridItem_1 .gridSubtitle {
    position: absolute;
    left: 20px;
    bottom: 16px;
}

.gridItem_4,
.gridItem_5 {
    background: linear-gradient(180deg, #00B98C 0%, #005E5E 100%);
}

/* Temperature wide card */
.gridItem_5 {
    grid-column: 1 / 3;
    color: #ffffff;
}

.gridItem_6 {
    grid-column: 3 / 4;
}

.gridItem_7 {
    grid-column: 1 / -1;
    height: 100%;
    min-height: 100%;
    border-radius: 30px;
    justify-content: flex-start;
    padding: 30px;
}

.gridTitle {
    font-weight: 400;
    font-size: clamp(18px, 2vw, 32px);
    line-height: 1.2;
}

.gridSubtitle {
    margin-top: auto;
    display: block;
    color: #EDEDEDCC;
    opacity: 0.8;
    font-size: clamp(12px, 1.2vw, 20px);
}

.specsTitle {
    font-size: clamp(16px, 3vw, 24px);
    font-weight: 600;
    margin-bottom: 15px;
    background: linear-gradient(88deg, #666 13.84%, #CCC 70.51%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.specsTable {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 0;
}

.specRow {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    align-items: start;
    gap: 20px;
    padding: 15px 25px;
}

.specRow:nth-child(odd) {
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.03);
}

.specName {
    color: rgba(204, 204, 204, 0.60);
}

.specValue {

    color: var(--paper, #CCC);
}

/* ====== Right big image ====== */
.item_2 {
    min-height: 480px;
    background: #0b0c10;
    border-radius: 20px;
    overflow: hidden;
    display: grid;
}

.img_2 {
    width: 100%;
    height: 100%;
    max-height: 800px;
    object-fit: cover;
    border-radius: 20px;
    will-change: transform;
    transition: transform .2s linear;
}

/* ====== Responsive ====== */
@media (max-width: 1100px) {

    .body {
        grid-template-columns: 1fr;
    }

    .item_2 {
        min-height: auto;
    }

    .item_1 {
        grid-template-columns: repeat(2, 1fr);
    }

    .gridItem {
        min-height: 160px;
    }

    .gridItem_4 {
        grid-column: -1 / 1;
    }

    .gridItem_5 {
        grid-column: -1 / 1;
    }

    .gridItem_6 {
        grid-column: 1 / -1;
    }

    .specRow {
        gap: 10px;
        grid-template-columns: 1fr;
    }

    .img_2 {
        max-height: 440px;
    }
}

@media (max-width: 767px) {
    .header {
        flex-direction: column;
        gap: 0;
        margin-bottom: 24px;
    }

    .body {
        padding: 0;
        border-radius: 20px;
    }

    .gridItem {
        min-height: 100px;
    }

    .item_1 {
        grid-template-columns: 1fr;
    }

    .gridItem_5,
    .gridItem_6 {
        grid-column: 1 / -1;
    }

    .gridItem_7 {
        grid-column: 1 / -1;
        padding: 24px;
    }

    .subtitle {
        margin: 20px auto;
    }
}