.section {
    padding: 140px 0;
}

.container {
    display: flex;
    flex-direction: column;
}

.topSection {
    display: flex;
    justify-content: space-between;
}

.topLeft {
    flex-basis: 50%;
    position: relative;
    z-index: 2;
}

.title {
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.3;
    font-size: clamp(12px, 5vw, 48px);
    max-width: 700px;
}

.accColor {
    color: var(--color-primary);
}

.description {
    margin-top: 20px;
    font-size: clamp(16px, 3vw, 20px);
    color: rgba(237, 237, 237, 0.60);
    max-width: 445px;
}

.description2 {
    margin-top: 20px;
    font-size: clamp(14px, 2vw, 16px);
    color: rgba(237, 237, 237, 0.60);
    max-width: 360px;
    color: var(--color-primary);

    line-height: 1.3;
}

.downloadLink {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin-top: 36px;
    line-height: 1;
    border-radius: 100px;
    border: 1px solid rgba(237, 237, 237, 0.60);
    padding: 16px 40px;
    color: #EDEDED;
    font-size: 24px;
    transition: all .3s;
}

.downloadLink svg {
    margin-bottom: -2px;
    transform: rotate(-90deg);
}

.downloadLink:hover {
    background-color: rgba(237, 237, 237, 0.10);
}

.topRight {
    flex-basis: 50%;
}

.image {
    margin-top: 100px;
    max-width: 100%;
    height: auto;
    transform: translateX(-20%) scale(170%);
}

.bottomSection {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 750px;
    gap: 30px;
    font-size: 16px;
    color: rgba(237, 237, 237, 0.60);
}

.bottomLeft,
.bottomRight {
    min-width: 358px;
}

@media(max-width:1240px) {
    .image {
        transform: translateY(5px) scale(1.6);
    }

    .title {
        font-size: 38px;
        max-width: 500px;
    }

    .downloadLink {
        font-size: 18px;
        padding: 16px 40px;
    }

    .downloadLink svg {
        width: 14px;
        height: 14px;
    }

    .description2,
    .bottomSection,
    .description {
        font-size: 14px;
    }

}

@media(max-width: 1080px) {
    .section {
        padding: 70px 0;
    }

    .image {
        transform: translateY(-24px) scale(1.5);
    }

    .description {
        margin-top: 10px;
    }

    .downloadLink {
        margin-top: 20px;
    }

    .bottomSection {
        flex-direction: column;
        align-items: flex-start;
        max-width: 360px;
        margin-top: 20px;
    }

}

/* Responsive adjustments for mobile screens */
@media (max-width: 767px) {
    .image {
        transform: translateY(-24px) scale(1.2);
        width: 100%;
        height: auto;
    }

    .title {
        font-size: 28px;
    }

    .topSection,
    .bottomSection {
        flex-direction: column;
        align-items: flex-start;
    }

    .topSection {
        margin-bottom: 1.5rem;
        /* space out the two sections on mobile */
    }
}