.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formItemW100 {
  width: 100%;
  flex-basis: 100%;
}

.formItemW100 :global(#description) {
  border-radius: 25px;
}

.btnWrapper {
  width: 100%;
  max-width: 240px;
}

.btn {
  position: relative;
  overflow: hidden;
  display: flex;
  width: 100%;
  max-width: 240px;
  height: 50px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 60px;
  color: #1e1e1e;
  background-color: #ededed;
  font-size: 20px;
  border: transparent;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.36px;
  text-transform: uppercase;
  transition: all .3s;
}

.btn span {
  position: relative;
}

.btn::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: var(--color-primary);
  z-index: 0;
  transform: translateY(100%);
  transition: all .3s;
}

.btn:hover.btn::before {
  transform: translateY(0);
}

.formItemFooter {
  display: flex;
  align-items: center;
  width: 100%;
  flex-basis: 100%;
  color: var(--Light-Gray, #f2f4f5);
  font-weight: 300;
  margin-top: 10px;
}

.btnWrapper {
  margin-left: auto;
}

.checkbox {
  max-width: 20px;
  margin-right: 20px;
  margin-left: 20px;
}


.checkbox span {
  display: none;
}

.privacyTxt {
  font-weight: 300;
  max-width: 330px;
  font-size: 12px;
  line-height: 1.2;
}

.privacyTxt a {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .form {
    flex-direction: column;
  }
}

.successMessage {
  position: absolute;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-black);
  backdrop-filter: blur(2px);
}

.successMessageP {
  font-size: clamp(16px, 2vw, 24px);
  color: var(--color-primary);
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 767px) {
  .formItemFooter {
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 20px;
  }

  .btnWrapper,
  .btn {
    max-width: 100%;
  }
}